<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title><%= typeof title !== 'undefined' ? title + ' | Huttendorp NFC spel' : 'Huttendorp NFC spel' %></title>
<meta name="description" content="Lokaal Huttendorp NFC spel voor teams, vragen, hints, eindvragen en leaderboard." />
<meta name="author" content="JaBuvo" />
<meta name="robots" content="noindex, nofollow" />

<link rel="stylesheet" href="/base/css/brand.css" />
<link rel="stylesheet" href="/base/css/base.css" />
<link rel="stylesheet" href="/base/css/nav.css" />
<link rel="stylesheet" href="/base/css/footer.css" />
<link rel="stylesheet" href="/base/css/style.css" />

<link rel="icon" type="image/png" href="/base/img/favicon.png" />
<link rel="apple-touch-icon" href="/base/img/favicon.png" />
<link rel="manifest" href="/manifest.json" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Huttendorp NFC spel" />
<meta property="og:locale" content="nl_NL" />
<meta property="og:title" content="Huttendorp NFC spel" />
<meta property="og:description" content="Lokaal NFC spel voor Huttendorp." />
<meta property="og:image" content="/base/img/logo_full.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Huttendorp NFC spel" />
<meta name="twitter:description" content="Lokaal NFC spel voor Huttendorp." />
<meta name="twitter:image" content="/base/img/logo_full.png" />
