<div class="mobileTabs yesPhone">
  <a href="/dashboard">Dashboard</a>

  <% if (isAdminLoggedIn) { %>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/leiding-overzicht">Overzicht leiding</a>
    <a href="/import">Import ESP32</a>
    <a href="/beheer">Beheer</a>
    <a href="/setup">Game setup</a>
    <a href="/gamemaster">Gamemaster</a>
  <% } %>
</div>