body header nav {
  border-bottom: solid;
  border-color: var(--JaBuvo1);
  width: 90%;
  max-width: 1100px;
  margin: auto;
  height: 75px;
  align-content: center;
}

body header nav a {
  float: left;
  display: inline;
  height: 50px;
  margin: 10px;
  align-content: center;
}

body header nav a img {
  height: inherit;
}
