<a class="button" href="/downloads/HuttendorpDeMeentNfcScannerSetup.exe" download>
  Download NFC scanner
</a>
<p class="helpText">
  Windows kan bij de eerste keer starten een SmartScreen melding tonen. Klik dan op “Toch uitvoeren”.
</p>
